body{
  background :#F5F8FA;
  font-size: 20px;
}
.logo{
  
  margin-left:auto;
  margin-right:auto;
}
.app-title{
  
  font-family: initial; 
  color: #1DA1F2;

}
.input-text{
  
  border-radius: 20px;
  border: 2.5px solid #1DA1F2;
  padding: 20px;
  width: 200px;
  height: 50px;
  
}
.list{
  color:black;
  font-family: 'Times New Roman', Times, serif;
}

.tdate{
  margin-top: 20px;
  margin-left: 550px;
}